# Python
config.py
*.pkl
__pycache__/
*.pyc
.env
*.db

ai/student_depression_dataset.csv

# Node / React
node_modules/
mindease-frontend/node_modules/
mindease-frontend/.vite/
mindease-frontend/dist/
mindease-frontend/package-lock.json
.vite/

# VS Code
.vscode/
ai/student_depression_dataset.csv
